/**
 * @description 全局样式变量
 * @author 应东林
 * @date 2024-11-04
 * @lastModifiedBy 应东林
 * @lastModifiedTime  2024-11-04
 */

/* ----------调色板---------- */
// 深绿
$bg-color-dark: rgba(25, 196, 126, 0.7);
//正常绿
$bg-color-green: #a9ffa8;
//浅绿
$bg-color-light: #f4fff3;
//橙红
$bg-color-orange: #ff5000;
//浅灰
$bg-color-gray-light: #f4fff3;

$text-color-gray: rgba(254, 255, 254, 0.5);
$text-color-active: #60cb5c;
$text-color-green: #b1caae;

/* ----------调色板---------- */
