@font-face {
  font-family: "iconfont"; /* Project id 4680392 */
  src: url('iconfont.woff2?t=1727355728510') format('woff2'),
       url('iconfont.woff?t=1727355728510') format('woff'),
       url('iconfont.ttf?t=1727355728510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e605";
}

.icon-renminbi:before {
  content: "\e643";
}

.icon-zuojiantou:before {
  content: "\e64e";
}

.icon-jiantouarrow483:before {
  content: "\e695";
}

.icon-jiantou-copy:before {
  content: "\e600";
}

.icon-arrdown:before {
  content: "\e601";
}

.icon-long_arrow_down:before {
  content: "\e602";
}

.icon-arrow-right:before {
  content: "\e603";
}

.icon-arrdown1:before {
  content: "\e604";
}

.icon-youjiantou-:before {
  content: "\e630";
}

.icon-sousuo:before {
  content: "\e63c";
}

.icon-dian:before {
  content: "\e608";
}

